* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #000;
    padding: 20px;
    border-radius: 10px;
}

.calculator form {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    gap: 8px;
}

.calculator form input[type="button"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #505050;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    box-shadow: 
        inset 0 -2px 0 rgba(255, 255, 255, 0.15), /* subtle top highlight */
        0 2px 4px rgba(0, 0, 0, 0.3);             /* soft outer shadow */
    transition: all 0.1s ease-in-out; /* smooth press effect */
}

form .display {
    grid-column: 1 / -1;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 8px;
}


form .display input {
    width: 100%;
    height: 100%;
    padding-right: 12px;
    text-align: right;
    font-size: 96px;
    font-weight: 300;
    letter-spacing: -2px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}

form input.equal {
    width: 145px;
}

.calculator form input[type=button].top-operator {
    background: #d4d4d2;
    color: #fff;
}

.calculator form input[type=button].operator {
    background: #ff9500;
    color: #fff;
}

input[type="button"]:active {
    filter: brightness(1.2);
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* invert shadow for pressed effect */
}

input {
    user-select: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}