* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #000;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: transparent;
    background: #505050;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 100px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.top-operator {
    background: #d4d4d2;
}

form input.operator {
    background: #ff9500;
}